body {
  font-family: 'Mina', sans-serif;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5%;
}

.user-non-selected{
  cursor: pointer;
  background: rgba(200, 200, 200, 0.5);
}

.user-selected{
  cursor: pointer;
  background: rgba(46, 95, 220, 0.5);
}
